/* CSS reset, dit niet aanpassen! */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
}

/* Hieronder mag je eigen CSS code */
body {
    background-image: url("img/illit2.jpeg");
}
.header-image-container {
  position: relative;
  text-align: center;
  font-size: 1000%;
  line-height: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

.header-image-text {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #cb87f1;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
}

ul li a:hover {
  background-color: #84c8da;
}

.frontpage {
  border: 5px solid #eba5d0;
  border-radius: 4px;
}
#illit1 {
  width: 20%;
}
